@using TelerikCoreWebApp.ViewModels;
@model VendorViewModel

@{
    Layout = "_MdiLayout";

    string selectedVendorId = Model.SelectedVendorId;
    List<SelectListItem> vendorSelectListItems = new List<SelectListItem>();
    List<Vendor> vendorList = Model.VendorList;
    int vendorIndex = int.Parse(selectedVendorId);
    Vendor selectedVendor = vendorList[vendorIndex];

    string ocgNumber = selectedVendor.OcgNumber;
    string managingQsArea = selectedVendor.ManagingQsArea;
    string primaryAddress = selectedVendor.PrimaryAddress;

    foreach (Vendor vendor in Model.VendorList)
    {
        string vendorIdString = vendor.VendorId.ToString();

        var selectListItem = new SelectListItem
        {
            Value = vendorIdString,
            Text = vendor.Name,
            Selected = vendorIdString == selectedVendorId
        };

        vendorSelectListItems.Add(selectListItem);
    }
}

<div class="panel panel-default">
    <div class="panel-heading">Vendor</div>
    <div class="panel-body">
        
        <h2>Vendor</h2>

        <form id="dropDownListForm" asp-controller="Program" asp-action="DropDownListDemo2" method="post">
            <div class="form-group">
                @Html.Label("vendorId", "Vendor:")

                @(Html.Kendo().DropDownList()
                      .Name("vendorId")
                      .DataValueField("Value")
                      .DataTextField("Text")
                      .Events(e => e.Change("onChange"))
                      .BindTo(vendorSelectListItems)
                      .Value(selectedVendorId)
                      .HtmlAttributes(new { @class = "form-control" }))
            </div>

            <div class="form-group">
                <label for="ocgNumber">OCG Number:</label>
                <input id="ocgNumber" name="ocgNumber" type="text" readonly="readonly" value="@ocgNumber" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="managingQsArea">Managing QS Area:</label>
                <input id="managingQsArea" name ="managingQsArea" type="text" readonly="readonly" value="@managingQsArea" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="primaryAddress">Primary Address:</label>
                <input id="primaryAddress" name ="primaryAddress" type="text" readonly="readonly" value="@primaryAddress" class="form-control"/>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        var onChange = function () {
            $("#dropDownListForm").submit();
        };

        $(document).ready(function () {
            $("#vendorId").data("kendoDropDownList");
        });
    </script>
}


